.sidebar-open {
    transform: translateX(0);
  }
  
  .sidebar-closed {
    transform: translateX(-250px);
  }
  
  @media (min-width: 768px) {
    .sidebar-open,
    .sidebar-closed {
      transform: translateX(0);
    }
  }
  